
@{
    ViewData["Title"] = "View";
}


@if (ViewBag.Message != null) 
    {
        <h1>Ласкаво просимо в хаті, @ViewBag.Message</h1>
    }
else
{
    <h1>Представся спочатку, а потім входь в хату</h1>
}

